*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Roboto, sans sans-serif;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 100px;
    
}
.flex a {
    font-size: 18px;
    text-decoration: none;
    color: black;
    
    /*DIMINUIR O ESPACAMENTO ENTRE ELES*/
}
.flex img {
    height: 30px;
}

.menu-hamburguer img {
    margin-right:  720px; /* Ajuste o valor conforme necessário */
}
.menu-hamburguer {
    margin-right:  10px; /* Ajuste o valor conforme necessário */
}
.shop img{
    width:  40px; /* Define a largura da imagem */
    height: auto;
    padding: 10px;
}


header {
    
    position: fixed;
    top: 0;
    right: 0;
    transition: .5s;
}

header li {
    display: inline-block;
    margin: 0 30px;
   
    
    
    
}



.fullscreen {
    height: 90vh;
    width: 1280px;
    margin: 0 auto;
    background-image: url('/images/Coffee-latte-art-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-shop button{
    width: 130px;
    height: 50px;
    border: 5px;
    border-radius: 5px;
    background-color: #121211;
    color: #fff;
    cursor: pointer;
    transition: -2s;
    margin-left: -260px;
    margin-top: 320px;
}

.btn-shop button:hover{
    background-color: #808080;
}
header.rolagem{
    background-color: #fff;
    padding: 20px, 80px;
    

}
header.rolagem a{
    color: red;
    
}
header.rolagem a, header.rolagem img{
    color: red;
    
}

hr {
    border: none; 
    
}


.text-center h1, h2 {
    color: white;
    
    text-align: center;
    
}
.fullscreen h1 {
    font-size: 110px;
    justify-content: center;
    
}
.fullscreen h2{
    font-size: 25px;
    
    margin-top: 0px;
    justify-content: center;
}

/*ROESTEREI*/

#id-roesterei, #id-bio {
    display: block;
    height: 90vh;
    width: 70%;
    margin: 80px;
    
    
    
}

.roesterei p, .besuchen p, .uhrzei{
    color: black;
    font-size: 20px;
    margin: 20px;/* VE SE REALMENTE PRECISA*/
}

.roesterei h2{
    
    font-size: 55px;
    color: black;
    text-align: left;
}

.roesterei p {
    margin-bottom: 25px;
    font-size: 20px;
}

.uhrzeit {
    margin-left: 270px;
    margin-top: -50px;
    font-size: 20px;
}

.besuchen address{
    margin-top: -20px;
    font-size: 20px;
    margin-left: 18px;
}
.img-roesterei img{ /*AUMENTAR O TAMANHO DA IMAGEM*/
    height: 360px;
    width: auto;
    margin-left: 500px;
    margin-top: -220px;
    
}
 /*BIO */
#id-bio{
    height: 90vh;
    width: 1280px;
    margin: 0 auto;
}
.bio-container h2, p {
    color: black;
    margin-top: 60px;
}
.bio-container h2 {
    margin-bottom: -40px;
    font-size: 30px;
    margin-left: 280px;
    
}

.bio-container p, .mehr{
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 620px;
}
.mehr {
    text-decoration: underline;
}
.img-bio img{
    height: 320px;
    width: auto;
    margin-top: -230px;
}


/*ARRUMAR O ESPACAMENTO ENTRE O BIO E O WEIT HINTEN*/

/*ENTDECKE*/

#entdecke{
    height: 180vh;
    width: 1280px;
    margin: 0 auto;
    padding: 80px;
    
    background-color: black;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.col {
    display: block;
    
    margin-right: 10px;
}

.p-entdecke h2 {
    display: flex;
    
    font-size: 80px;
    padding: 0;
    color: white;
    margin-top: 70px;
    margin-left: -40px;
}
.p-entdecke span{
    margin-bottom: 90px;
    font-size: 60px;
    color: white;
    
    margin-left: -40px;
}
.img-costaRica img, .img-äthiopien img, .img-costaRica2 img, .img-äthiopien2 img {
    
    height: 382px;
    width: auto;
    margin-top: 100px;
    
    
}

.img-costaRica p, span, .img-äthiopien p, span, .img-costaRica2 p, span, .img-äthiopien2 p, span  {
    color: #fff;
    font-size: 22px;
    margin-top: 5px;
}

.img-costaRica span, .img-äthiopien span, .img-costaRica2 span, .img-äthiopien2 span{
    color: #808080;
    margin-top: 15px;
}

.img-icons img{
    height: 22px;
    width: auto;
    
}
.btn-alle-produkt button{
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
    transition: -2s;
    color: #fff;
    margin-top: 80px;
    margin-left: 500px;
}

/* COFFEE BAGS*/
#coffee-bags{
    height: 90vh;
    width: 1280px;
    margin: 0 auto;
}
.bags-coffee img{
    height: 90vh;
    width: 1280px;
    margin: 0 auto;
}
.bags-coffee p {
    color: #fff;
    
    letter-spacing: 0.13em;
    font-size: 18px;
    margin-left: 500px;
    margin-top: -305px;
    margin-bottom: 20px;
}
.mehr {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-left: 650px;
}

/*STECKT*/

#steckt{
    display: block;
    height: 90vh;
    width: 1280px;
    margin: 0 auto;
    padding: 80px;
    
    background-color: white;
}

.das-steckt h1{
    color: black;
    
    font-size: 38px;
    margin-left: 320px;
    
}

.das-steckt img {
    height: 422px;
    width: auto;
    margin-top: 60px;
    margin-left: 100px;
}

.icons img {
    display:block;
    height: 32px;
    width: auto;
    margin-left: 550px;
    margin-top: -155px;
}

.icons p{
    display:block;
    color: black;
    
    font-size: 20px;
    margin-left: 600px;
    margin-top: -40px;
}
.btn-shop2 button{
    width: 130px;
    height: 45px;
    border-radius: 5px;
    background-color: #121212;
    border: solid ;
    color: #fff;
    cursor: pointer;
    transition: -2s;
    margin-left: 550px;
    margin-top: 110px;
    
}

#map{
    max-width: 1280vh;
    margin: 0 auto;
    display: block;
}
#map h2{
    font-size: 60px;
    margin-left: 60px;
    margin-top: 180px;
}
.container-map iframe{
    margin-top: 60px;
}

#footer{
    height: 50vh;
    width: 1280px;
    margin: 0 auto;
    display: block;
    background-color: black;
    color: white;
}

.teil1 h2, .teil1 span, .teil2 h2, .teil2 span, .teil3 h2, .teil3 span, .teil4 h2, .teil4 span, .teil5 h2, .teil5 span {
    display: block;
    
    color: white;
}

.teil1 img{
    margin-left: 120px;
    margin-top: 100px;
    height: 40px;

}
.teil1 h2{
    font-size: 42px;
    
    margin-right: 900px;
    
    color: white;
}
.teil1 span{
    font-size: 18px;
    
    margin-left: 120px;
    
}

.teil2 h2{
    
    font-size: 17px;
    
    margin-right: 230px;
    margin-top: -75px;
}
.teil2 span{
    font-size: 16px;
    
    margin-left: 450px;
    margin-bottom: 80px;
}
.teil3 span{
    font-size: 16px;
    
    margin-left: 450px;
}
.teil3 h2{
    font-size: 16px;
    margin-right: 260px;
    margin-top: -65px;
}

.teil4 {
    color: white;
    margin-left: 750px;
    margin-top: -95px;
    
    
}
.teil4 a{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
.teil5 {
    color: white;
    margin-left: 1050px;
    margin-top: -65px;
    
    
}
.teil5 a{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
